<?xml version="1.0"?>
<robot name="REPO_NAME" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find REPO_NAME_description)/urdf/parts/swerve_axle.xacro" />

  <xacro:swerve_axle prefix="front_left" parent="swerve_chassis_link">
    <origin xyz=" 0 0 0" rpy="0 0 0" />
  </xacro:swerve_axle>
</robot>