<?xml version="1.0"?>
<robot name="REPO_NAME" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find repo_name_description)/urdf/parts/swerve_axle.xacro" />
  <xacro:include filename="$(find repo_name_description)/urdf/util/macros.xacro" />
  <xacro:include filename="$(find repo_name_description)/urdf/util/materials.xacro" />
 
  <link name="base_link"></link>

  <xacro:swerve_axle prefix="front_left" parent="base_link">
    <origin xyz=" 0 0 0" rpy="0 0 0" />
  </xacro:swerve_axle>
</robot> 